<nav class='navbar navbar-default' ng-controller="NavbarController">
    <div class='container'>
        <div class='navbar-left'>
            <a href='#/'><button type="button" class="btn btn-default navbar-btn">Home</button></a>
            <a href='#/new_question'><button type="button" class="btn btn-default navbar-btn">Add a Question</button></a>
        </div>
        <div class='navbar-right'>
            <button type="button" class="btn btn-default navbar-btn" ng-click='logout()'>Log Out</button>
        </div>
    </div>
</nav>
